body {
  background-color: #f8f8f8;
  display: flex;
}

.navbarMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 67px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #90FCF9; 
  font-weight: bold;
}

.botoesMenu {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 40px;
  margin: 30px 0;
}

.tituloMenu {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

