body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
}

.navbarMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  color: rgb(0, 0, 0);
  padding: 25px;
  background-color: #08ffff; 
  font-weight: bold;
}


.botoesMenu1 {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 40px;              
  margin-left: 30px;
  margin-bottom: 30px;
}

.tituloMenu {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.containerMenu {
  padding-top: 90px;
}
