/* Fundo geral */
.min-h-screen {
  background: #e6fcfb;
}
.content-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 20px 0;
  height: fit-content;
}

/* Container principal */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.bg-gray-50 {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 8px #0001;
  padding: 24px 0 24px 0;
  margin: 24px auto;
  width: 350px;
  min-height: 600px;
  height: 70%;
}

/* Header */
.text-lg {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: #222;
}
h2 .titulo-tela{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: black;
  text-align: center;

}

/* Dropdown */
select {
  width: 90%;
  border: 1px solid #b2dfdb;
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 10px;
  background: #f8f8f8;
  font-size: 1rem;
}

/* Input de pesquisa */
input-pesquisa {
  width: 90%;
  border: 1px solid #b2dfdb;
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 16px;
  font-size: 1rem;
  background: #f8f8f8;
}

/* Lista de pacotes */
.w-72 {
  width: 90%;
}
.gap-3 > * + * {
  margin-top: 12px;
}
.overflow-y-auto {
  overflow-y: auto;
}
.max-h-96 {
  max-height: 320px;
  align-items: center;
}

/* Responsivo */
@media (max-width: 400px) {
  .bg-gray-50 {
    width: 98vw;
    min-height: unset;
    padding: 10px 0;
  }
  .w-72 {
    width: 98vw;
  }
}

select {
  color: #282828 !important;
}


.lista::-webkit-scrollbar {
  width: 8px;
  margin: 5px;
}

.lista::-webkit-scrollbar-track {
  background: #bbbbbb;
  border-radius: 5px;
}

.lista::-webkit-scrollbar-thumb {
  background-color: #282828;
  border-radius: 10px;
  border: 2px solid transparent;
}

.lista::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.botao-agendar {
  width: 100%;
  background-color: #90FCF9;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 15px 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}