.agendamentos {
  width: 350px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.agendamentos h3 {
  text-align: center;
  font-size: 16px;
  margin: 20px 0 10px;
  color: #111;
}

.card-visu {
  display: flex;
  margin-bottom: 20px;
  background-color: #fcecec;
}

.card-visu .hora {
  font-weight: bold;
  background: #fcecec;
  border-radius: 5px;
  padding: 4px 6px;
  height: fit-content;
  margin-right: 10px;
  font-size: 13px;
}

.card-visu .info {
  flex: 1;
}

.card-visu .info p {
  margin: 3px 0;
  font-size: 14px;
  color: #333;
}

.cancelar {
  margin-top: 8px;
  background: #e63946;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 6px 14px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 14px;
}

.cancelar:hover {
  opacity: 0.9;
}

.mensagem-final {
  text-align: center;
  color: #666;
  font-size: 13px;
  margin-top: 10px;
}
